@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

:root {
    --background-main: #F8F8F8;
    --text-color: #1B1C21;
    --nav-link-color: #7E7E82;
    --highlight-border: #B8FFEC;
    --white: #FFFFFF;
    --container-width-sm: 320px;
    --container-width-md: 768px;
    --container-width-lg: 1120px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    color: var(--text-color);
}

bold {
    font-weight: 700;
}

.header {
    background: var(--white);

}

.header__container {
    position: absolute;
    width: var(--container-width-sm);
    height: 88px;
    left: 0;
    top: 0;
}

.header__logo {
    position: absolute;
    left: 72.73px;
    top: 18.59px;
}

.header__burger {
    position: absolute;
    top: 24px;
    left: 16px;
    background-color: #FF3E79;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.header__burger:hover {
    background-color: #E02E5F;
}

.header__burger-icon {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,%3Csvg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447715 0.447715 0 1 0H17C17.5523 0 18 0.447715 18 1C18 1.55228 17.5523 2 17 2H1C0.447716 2 0 1.55228 0 1ZM0 8C0 7.44772 0.447715 7 1 7H9C9.55228 7 10 7.44772 10 8C10 8.55229 9.55229 9 9 9H1C0.447715 9 0 8.55229 0 8ZM1 14C0.447715 14 0 14.4477 0 15C0 15.5523 0.447716 16 1 16H13C13.5523 16 14 15.5523 14 15C14 14.4477 13.5523 14 13 14H1Z" fill="%23FFFFFF"/%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.header__stick {
    position: absolute;
    top: 28px;
    left: 186px;
}

.header__nav {
    max-width: 132px;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: auto;
    position: absolute;
    top: 8px;
    left: 188px
}

.header__nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    gap: 16px;
    
}

.header__nav-item {
    display: flex;
}
.header__stick--clone {
    display: none;
}
.header__nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.header__nav-link:hover {
    background-color: #E02E5F;
}

.header__nav-icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Иконки навигации */
.header__nav-item:nth-child(1) .header__nav-link .header__nav-icon {
    background-image: url('data:image/svg+xml,%3Csvg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1.76019 12.25L4.30019 11.96C4.91019 11.89 5.51019 12.1 5.94019 12.53L7.78019 14.37C10.6102 12.93 12.9302 10.62 14.3702 7.78L12.5202 5.93C12.0902 5.5 11.8802 4.9 11.9502 4.29L12.2402 1.77C12.3602 0.76 13.2102 0 14.2302 0H15.9602C17.0902 0 18.0302 0.94 17.9602 2.07C17.4302 10.61 10.6002 17.43 2.07019 17.96C0.940193 18.03 0.00019455 17.09 0.00019455 15.96V14.23C-0.00980568 13.22 0.750193 12.37 1.76019 12.25Z" fill="white"/%3E%3C/svg%3E');
}

.header__nav-item:nth-child(2) .header__nav-link .header__nav-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='40' height='40' rx='20'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 11H12C10.9 11 10.01 11.9 10.01 13L10 31L14 26H28C29.1 26 30 25.1 30 24V13C30 11.9 29.1 11 28 11ZM21 22H15C14.45 22 14 21.55 14 21C14 20.45 14.45 20 15 20H21C21.55 20 22 20.45 22 21C22 21.55 21.55 22 21 22ZM25 17H15C14.45 17 14 16.55 14 16C14 15.45 14.45 15 15 15H25C25.55 15 26 15.45 26 16C26 16.55 25.55 17 25 17Z' fill='white'/%3e%3cmask id='mask0_0_1880' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='10' y='11' width='20' height='20'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 11H12C10.9 11 10.01 11.9 10.01 13L10 31L14 26H28C29.1 26 30 25.1 30 24V13C30 11.9 29.1 11 28 11ZM21 22H15C14.45 22 14 21.55 14 21C14 20.45 14.45 20 15 20H21C21.55 20 22 20.45 22 21C22 21.55 21.55 22 21 22ZM25 17H15C14.45 17 14 16.55 14 16C14 15.45 14.45 15 15 15H25C25.55 15 26 15.45 26 16C26 16.55 25.55 17 25 17Z' fill='white'/%3e%3c/mask%3e%3cg mask='url(%23mask0_0_1880)'%3e%3c/g%3e%3c/svg%3e");
}

.header__nav-item:nth-child(3) .header__nav-link .header__nav-icon {
    background-image: url('data:image/svg+xml,%3Csvg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M10.5 9C12.9853 9 15 6.98528 15 4.5C15 2.01472 12.9853 0 10.5 0C8.01472 0 6 2.01472 6 4.5C6 6.98528 8.01472 9 10.5 9Z" fill="white"/%3E%3Cpath d="M0.0165859 16.6118C-0.113065 17.3412 0.535191 18 1.33903 18H18.6604C19.4902 18 20.1125 17.3412 19.9829 16.6118C19.2309 12.4 15.0561 10 9.99973 10C4.94333 10 0.768563 12.4 0.0165859 16.6118Z" fill="white"/%3E%3C/svg%3E');
}

.header__nav-item:nth-child(5) .header__nav-link .header__nav-icon {
    background-image: url('data:image/svg+xml,%3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8.25807 13.4583L8.66685 13.0494L6.94998 11.3322L6.54121 11.7411L6.33682 11.5367C6.0098 11.1687 5.68278 10.9643 5.35575 11.0052C5.11049 11.0052 4.9061 11.1687 4.74259 11.414C4.49732 11.8229 4.61996 12.2726 4.66083 12.5588C4.66083 12.6406 4.70171 12.6815 4.70171 12.7632C4.70171 12.8859 4.70171 13.0494 4.41557 13.0903C4.00679 13.213 3.47538 13.3356 2.94397 13.6218C2.20817 14.0307 1.71764 14.3987 1.4315 14.7666C-0.0809772 16.7291 0.000778159 18.4055 0.000778159 18.4872C0.000778159 18.6099 0.0416558 18.6917 0.123411 18.7325L1.22711 19.8773C1.30886 19.9591 1.39062 20 1.47237 20C1.47237 20 1.51325 20 1.59501 20C2.00378 20 3.47538 19.9182 5.19224 18.569C5.56014 18.2828 5.92804 17.7922 6.33682 17.0562C6.62296 16.5656 6.78647 16.0341 6.86823 15.5844C6.94998 15.2982 7.07262 15.2982 7.19525 15.2982C7.23613 15.2982 7.31788 15.339 7.39964 15.339C7.56315 15.3799 7.72666 15.4208 7.93105 15.4208C8.13544 15.4208 8.33983 15.3799 8.54421 15.2573C8.78948 15.0937 8.95299 14.8893 8.99387 14.644C9.03475 14.3169 8.87123 13.9898 8.50334 13.7036L8.25807 13.4583Z" fill="white"/%3E%3Cpath d="M16.884 4.87841L18.0188 4.32603C18.0609 4.28354 18.1449 4.24105 18.1869 4.19856L19.9101 1.86157C20.0362 1.69161 20.0362 1.43667 19.8681 1.3092L18.6913 0.119458C18.5652 -0.00801422 18.313 -0.0505049 18.1449 0.076967L15.8333 1.81908C15.7913 1.86157 15.7493 1.90406 15.7072 1.98905L15.1609 3.13629L11 7.21539L12.7652 9L16.884 4.87841Z" fill="white"/%3E%3Cpath d="M17.8527 13.0448C16.8636 12.0036 15.4393 11.6288 14.0941 12.0036L7.64527 5.17331C7.72439 4.79848 7.76396 4.46529 7.76396 4.09046C7.76396 3.04926 7.36832 2.00806 6.61661 1.21675C5.58796 0.0922529 4.04498 -0.282579 2.6207 0.217197C2.54157 0.258845 2.42288 0.383789 2.38331 0.550381C2.38331 0.675325 2.42288 0.800269 2.50201 0.925213L4.44062 2.96597C4.87582 3.42409 4.87582 4.21541 4.44062 4.67353C4.00542 5.13166 3.25371 5.13166 2.81851 4.67353L0.8799 2.63278C0.76121 2.54949 0.642519 2.50784 0.484265 2.54949C0.365574 2.54949 0.246884 2.67443 0.20732 2.79937C-0.267442 4.25705 0.0886295 5.88133 1.11728 6.96417C1.82943 7.75549 2.85808 8.17197 3.88673 8.17197C4.20324 8.17197 4.55931 8.13032 4.87582 8.04702L11.3642 14.8773C11.0082 16.2933 11.4038 17.7927 12.3533 18.8339C13.105 19.6252 14.0546 20 15.0832 20C15.5184 20 15.914 19.9167 16.3492 19.7918C16.4679 19.7501 16.5866 19.6252 16.6262 19.5002C16.6658 19.3753 16.6262 19.2087 16.5075 19.1254L14.5689 17.0846C14.3711 16.8764 14.2128 16.5432 14.2128 16.21C14.2128 15.8768 14.3315 15.5853 14.5689 15.3354C14.8063 15.0855 15.0832 14.9606 15.3997 14.9606C15.7162 14.9606 15.9932 15.0855 16.2306 15.3354L18.1692 17.3762C18.2879 17.4595 18.4065 17.5011 18.5252 17.5011C18.6439 17.4595 18.7626 17.3762 18.8022 17.2512C18.9209 16.8348 19 16.3766 19 15.9185C19 14.8356 18.6044 13.7944 17.8527 13.0448Z" fill="white"/%3E%3C/svg%3E');
}

.header__nav-item:nth-child(6) .header__nav-link .header__nav-icon {
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="16" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447715 0.447715 0 1 0H15C15.5523 0 16 0.447716 16 1V18.5C15.1716 18.5 14.5001 19.1715 14.5 19.9999H13.5C13.4999 19.1715 12.8284 18.5 12 18.5C11.1716 18.5 10.5001 19.1715 10.5 19.9999H9.5C9.49994 19.1715 8.82839 18.5 8 18.5C7.17161 18.5 6.50006 19.1715 6.5 19.9999H5.5C5.49994 19.1715 4.82839 18.5 4 18.5C3.17161 18.5 2.50006 19.1715 2.5 19.9999H1.5C1.49994 19.1715 0.828392 18.5 0 18.5V1ZM9.41635 11.7884C8.55361 12.3444 7.47039 12.5936 6.32965 12.3827C4.52748 12.0472 3.08957 10.5327 2.85951 8.71142C2.49524 5.82612 4.94926 3.42012 7.85383 3.88023C9.656 4.1678 11.1035 5.644 11.4007 7.43652C11.5828 8.54846 11.324 9.57413 10.7872 10.4273L12.8961 12.5265C13.2699 12.9004 13.2699 13.5138 12.8961 13.8877C12.5126 14.2711 11.8991 14.2711 11.5253 13.8973L9.41635 11.7884ZM4.70588 8.05882C4.70588 6.76 5.76 5.70588 7.05882 5.70588C8.35765 5.70588 9.41177 6.76 9.41177 8.05882C9.41177 9.35765 8.35765 10.4118 7.05882 10.4118C5.76 10.4118 4.70588 9.35765 4.70588 8.05882Z" fill="white"/%3E%3C/svg%3E');
}

.main__uslugi {
    position: relative;
    top: 0;
    left: 16px;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.main__container {
    position: absolute;
    width: var(--container-width-sm);
    height: 509px;
    left: 0;
    top: 88px;
    background: var(--background-main);
}

.main__nav-wrapper {
    max-width: var(--container-width-sm);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.main__nav {
    max-width: var(--container-width-sm);
    overflow-x: auto;
    white-space: nowrap;
    margin-left: auto;
    margin-top: 16px;
    position: relative;
}

.main__nav-wrapper::before,
.main__nav-wrapper::after {
    content: '';
    position: absolute;
    top: 70px;
    bottom: 0;
    width: 20px;
    height: 43px;
    pointer-events: none;
    z-index: 1;
}

.main__nav-wrapper::before {
    left: 0;
    background: linear-gradient(to right, var(--background-main), rgba(255, 255, 255, 0));
}

.main__nav-wrapper::after {
    right: 0;
    background: linear-gradient(to left, var(--background-main), rgba(255, 255, 255, 0));
}

.main__nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-top: 40px;
}

.main__nav-item {
    display: inline-flex;
}

.main__nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.main__nav-link:hover {
    border: 2px solid var(--highlight-border);
    background-color: var(--white);
}

.main__highlight {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.content {
    position: absolute;
    width: var(--container-width-sm);
    height: 407px;
    top: 100px;
    left: 0;
}

.content__text {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    padding-right: 16px;
    padding-left: 16px;
    color: var(--text-color);
}

.content__text--visible-on-320 {
    display: block;
}

.content__text--visible-on-768,
.content__text--visible-on-1120,
.content__text--visible-on-1120-2 {
    display: none;
}

.content__link {
    display: inline-flex;
    gap: 8px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: 16px;
    transition: color 0.3s ease;
}

.content__link:hover {
    color: #6f6f6f;
}

.content__link svg {
    vertical-align: middle;
}

.content__image {
    position: absolute;
    width: var(--container-width-sm);
    top: 165px;

    left: 0;
}

.main__icon {
    display: none;
}

@media (min-width: 768px) {
        .header__container {
        width: var(--container-width-md);
        height: 88px;
    }

    .header__logo {
        left: 106.73px;
        top: 18.59px;
    }

    .header__burger {
        top: 24px;
        left: 24px;
    }

    .header__stick {
        top: 28px;
        left: 84px;
    }

    .header__stick--clone {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__stick--clone svg {
        display: flex;
    }

    .header__nav {
        max-width: var(--container-width-md);
        overflow-x: visible;
        white-space: normal;
        margin-left: 0;
        display: flex;
        justify-content: flex-end;
        right: 8px;
        padding-right: 24px;
    }

    .header__nav-list {
        gap: 24px;
    }

    .main__container {
        width: var(--container-width-md);
        height: 504px;
    }

    .main__nav-wrapper {
        max-width: var(--container-width-md);
        position: relative;
        overflow: hidden;
    }

    .main__nav {
        max-width: var(--container-width-md);
        margin-top: 90px;
        font-size: 16px;
        line-height: 24px;
        left: 0;
    }

    .main__nav-list {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 32px;
    }

    .main__uslugi {
        left: 24px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.6px;
    }

    .main__highlight {
        left: 0;
        top: 44px;
    }

    .main__content,
    .content {
        width: var(--container-width-md);
        height: 208px;
        top: 190px;
        left: 0;
    }

    .content__text {
        width: 350px;
        font-size: 14px;
        line-height: 20px;
        padding-right: 24px;
        padding-left: 24px;
        letter-spacing: 0.2px;
    }

    .content__text--visible-on-320,
    .content__text--visible-on-768 {
        display: block;
    }

    .content__text--visible-on-1120,
    .content__text--visible-on-1120-2 {
        display: none;
    }

    .content__link {
        left: 40px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }

    .content__image {
        position: absolute;
        width: 360px;
        left: 380px;
        top: 16px;
        border-radius: 6px;
    }

    .main__nav-wrapper::before,
    .main__nav-wrapper::after {
        top: 142px;
        height: 32px;
    }
}

@media (min-width: 1120px) {
    .header__container {
        display: none;
    }

    .main__container {
        position: relative;
        width: var(--container-width-lg);
        height: 535px;
        top: 0;
        left: 0;
    }

    .main__icon {
        display: flex;
        justify-content: flex-end;
    }

    .main__icon-list {
        list-style: none;
        display: flex;
        gap: 33px;
        position: absolute;
        margin: 0;
        top: 42px;
        right: 33px;
    }

    .main__icon-link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .main__icon-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: var(--text-color);
        margin-right: 8px;
    }

    .main__icon-icon {
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
    }

    .main__icon-link:hover .main__icon-icon {
        background-color: #E02E5F;
    }

    .main__icon-icon--request {
        background-image: url('data:image/svg+xml,%3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8.25807 13.4583L8.66685 13.0494L6.94998 11.3322L6.54121 11.7411L6.33682 11.5367C6.0098 11.1687 5.68278 10.9643 5.35575 11.0052C5.11049 11.0052 4.9061 11.1687 4.74259 11.414C4.49732 11.8229 4.61996 12.2726 4.66083 12.5588C4.66083 12.6406 4.70171 12.6815 4.70171 12.7632C4.70171 12.8859 4.70171 13.0494 4.41557 13.0903C4.00679 13.213 3.47538 13.3356 2.94397 13.6218C2.20817 14.0307 1.71764 14.3987 1.4315 14.7666C-0.0809772 16.7291 0.000778159 18.4055 0.000778159 18.4872C0.000778159 18.6099 0.0416558 18.6917 0.123411 18.7325L1.22711 19.8773C1.30886 19.9591 1.39062 20 1.47237 20C1.47237 20 1.51325 20 1.59501 20C2.00378 20 3.47538 19.9182 5.19224 18.569C5.56014 18.2828 5.92804 17.7922 6.33682 17.0562C6.62296 16.5656 6.78647 16.0341 6.86823 15.5844C6.94998 15.2982 7.07262 15.2982 7.19525 15.2982C7.23613 15.2982 7.31788 15.339 7.39964 15.339C7.56315 15.3799 7.72666 15.4208 7.93105 15.4208C8.13544 15.4208 8.33983 15.3799 8.54421 15.2573C8.78948 15.0937 8.95299 14.8893 8.99387 14.644C9.03475 14.3169 8.87123 13.9898 8.50334 13.7036L8.25807 13.4583Z" fill="white"/%3E%3Cpath d="M16.884 4.87841L18.0188 4.32603C18.0609 4.28354 18.1449 4.24105 18.1869 4.19856L19.9101 1.86157C20.0362 1.69161 20.0362 1.43667 19.8681 1.3092L18.6913 0.119458C18.5652 -0.00801422 18.313 -0.0505049 18.1449 0.076967L15.8333 1.81908C15.7913 1.86157 15.7493 1.90406 15.7072 1.98905L15.1609 3.13629L11 7.21539L12.7652 9L16.884 4.87841Z" fill="white"/%3E%3Cpath d="M17.8527 13.0448C16.8636 12.0036 15.4393 11.6288 14.0941 12.0036L7.64527 5.17331C7.72439 4.79848 7.76396 4.46529 7.76396 4.09046C7.76396 3.04926 7.36832 2.00806 6.61661 1.21675C5.58796 0.0922529 4.04498 -0.282579 2.6207 0.217197C2.54157 0.258845 2.42288 0.383789 2.38331 0.550381C2.38331 0.675325 2.42288 0.800269 2.50201 0.925213L4.44062 2.96597C4.87582 3.42409 4.87582 4.21541 4.44062 4.67353C4.00542 5.13166 3.25371 5.13166 2.81851 4.67353L0.8799 2.63278C0.76121 2.54949 0.642519 2.50784 0.484265 2.54949C0.365574 2.54949 0.246884 2.67443 0.20732 2.79937C-0.267442 4.25705 0.0886295 5.88133 1.11728 6.96417C1.82943 7.75549 2.85808 8.17197 3.88673 8.17197C4.20324 8.17197 4.55931 8.13032 4.87582 8.04702L11.3642 14.8773C11.0082 16.2933 11.4038 17.7927 12.3533 18.8339C13.105 19.6252 14.0546 20 15.0832 20C15.5184 20 15.914 19.9167 16.3492 19.7918C16.4679 19.7501 16.5866 19.6252 16.6262 19.5002C16.6658 19.3753 16.6262 19.2087 16.5075 19.1254L14.5689 17.0846C14.3711 16.8764 14.2128 16.5432 14.2128 16.21C14.2128 15.8768 14.3315 15.5853 14.5689 15.3354C14.8063 15.0855 15.0832 14.9606 15.3997 14.9606C15.7162 14.9606 15.9932 15.0855 16.2306 15.3354L18.1692 17.3762C18.2879 17.4595 18.4065 17.5011 18.5252 17.5011C18.6439 17.4595 18.7626 17.3762 18.8022 17.2512C18.9209 16.8348 19 16.3766 19 15.9185C19 14.8356 18.6044 13.7944 17.8527 13.0448Z" fill="white"/%3E%3C/svg%3E');
    }

    .main__icon-icon--status {
        background-image: url('data:image/svg+xml,%3Csvg width="16" height="16" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447715 0.447715 0 1 0H15C15.5523 0 16 0.447716 16 1V18.5C15.1716 18.5 14.5001 19.1715 14.5 19.9999H13.5C13.4999 19.1715 12.8284 18.5 12 18.5C11.1716 18.5 10.5001 19.1715 10.5 19.9999H9.5C9.49994 19.1715 8.82839 18.5 8 18.5C7.17161 18.5 6.50006 19.1715 6.5 19.9999H5.5C5.49994 19.1715 4.82839 18.5 4 18.5C3.17161 18.5 2.50006 19.1715 2.5 19.9999H1.5C1.49994 19.1715 0.828392 18.5 0 18.5V1ZM9.41635 11.7884C8.55361 12.3444 7.47039 12.5936 6.32965 12.3827C4.52748 12.0472 3.08957 10.5327 2.85951 8.71142C2.49524 5.82612 4.94926 3.42012 7.85383 3.88023C9.656 4.1678 11.1035 5.644 11.4007 7.43652C11.5828 8.54846 11.324 9.57413 10.7872 10.4273L12.8961 12.5265C13.2699 12.9004 13.2699 13.5138 12.8961 13.8877C12.5126 14.2711 11.8991 14.2711 11.5253 13.8973L9.41635 11.7884ZM4.70588 8.05882C4.70588 6.76 5.76 5.70588 7.05882 5.70588C8.35765 5.70588 9.41177 6.76 9.41177 8.05882C9.41177 9.35765 8.35765 10.4118 7.05882 10.4118C5.76 10.4118 4.70588 9.35765 4.70588 8.05882Z" fill="white"/%3E%3C/svg%3E');
    }

    .main__highlight {
        position: absolute;
        width: 300px;
        height: 40px;
        top: 42px;
        left: 0;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
    }

    .main__uslugi {
        left: 33px;
    }

    .main__nav-wrapper {
        max-width: var(--container-width-lg);
        position: relative;
        overflow: visible;
        padding-left: 33px;
        top: -20px;
    }

    .main__nav {
        max-width: var(--container-width-lg);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding: 0;
    }

    .main__nav-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        padding: 0;
    }

    .main__nav-item {
        display: inline-flex;
    }

    .content__text--visible-on-320 {
        display: none;
    }

    .content__text--visible-on-768 {
        display: none;
    }

    .content__text--visible-on-1120,
    .content__text--visible-on-1120-2 {
        display: block;
    }

    .content__image {
        width: 531.34px;
        height: 307px;
        left: 561px;
    }

    .main__content {
        position: relative;
        width: var(--container-width-lg);
        height: 360px;
        top: -36px;
    }

    .content {
        top: 0px;
    }

    .content__text {
        width: 530px;
        font-size: 14px;
        line-height: 20px;
        padding-left: 35px;
        letter-spacing: -0.2px;
    }
}   

